/* andy-http.component.css */

#loading-status-wrapper {
    margin-top: 20px;
    width: 620px;
    height: 40px;
    border: 1px solid gray;
    overflow: hidden;
}

#loading-status {
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    color: black;
    background-color: lightgreen;
}




/* move this to andy-display.component.html */

#display {
    margin: 20px 0px;
    width: 600px;
    height: 300px;
    font-size: 22px;
    border: 1px solid gray;
    padding: 10px;
    overflow: auto;
}


p {
    font-size: 16px;
}

table {
    border-collapse: collapse;
}

td {
    user-select: none;
    -webkit-user-select: none;
    border: 0px solid black;
}

tr:hover {
    background-color: #ddd
}

.col1 { left:   0px; width: 200px; }
.col2 { left: 200px; width:  50px; }
.col3 { left: 250px; width: 100px; text-align: right}
.col4 { left: 350px; width:  25px; }
.col5 { left: 375px; width: 225px; }
